apiVersion: v1
kind: Secret
metadata:
  name: hf-token
  namespace: ${NAMESPACE}
  labels:
    app: bielik-11b
  annotations:
    # Ten secret jest generowany dynamicznie przez deploy.sh z envsubst
    # Nigdy nie commituj wygenerowanego 02-hf-secret.yaml (jest w .gitignore)
    opendatahub.io/managed: "true"
type: Opaque
stringData:
  # Klucz 'token' używany przez LLMInferenceService do pobierania modelu z HuggingFace Hub
  token: "${HF_TOKEN}"
